<div class="contenido" style="background-color: rgb(255, 255, 255);">
    <!-- Fondo de personas y texto -->
    <div class="fondopersonas" style="background: url(../../../assets/imagenes/soluciones/HEADER%20LANDING%20CONSTRUIMOS%20PUENTES%20-8.png); background-repeat: no-repeat; background-size: contain; width: 100%; height: 970px; margin-top: -150px;">
        <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
            <p style="z-index: 2; text-shadow: 0px 0px 9px rgba(0, 0, 0, 0); color: white; font-size: 45px; font-family: 'Century Gothic'; text-align: center; margin-top: 80px;">
                <strong>Facilitamos la adopción consciente de la</strong><br>
                <strong>HUMANIZACIÓN:</strong>
            </p>
        </div>
    </div>


<!-- Circulos -->
<div class="mapa-container-c" style="background-color: #ffffff; padding-top: 20px; padding-bottom: 20px; margin-top: -100px;">
    <div class="container" style="width: 100%; margin-top: -95px;">

        <!-- Primera fila -->
        <div class="row" data-aos="fade-left" data-aos-offset="200" data-aos-duration="2000">
            <div class="col-md-4 d-flex align-items-center">
                <img style="width: 70%; margin-right: 10px;" src="assets/imagenes/soluciones/CIRCULO%20MANOS%20Y%20ROMPECABEZAS-.png" alt="Manorompecabezas" class="w-70 h-auto rounded-full object-cover"/>
            </div>
            <div class="col-md-8 d-flex align-items-center">
                <p class="text-left text-arial-nova" style="margin-left: -100px; font-size: 25px;">Aportando <strong>conocimiento estratégico</strong> desde una <br> perspectiva humana.</p>
            </div>
        </div>

        <!-- Segunda fila -->
        <div class="row" data-aos="fade-right" data-aos-offset="200" data-aos-duration="2000" style="margin-top: -50px;">
            <div class="col-md-8 d-flex align-items-center">
                <p class="text-left text-arial-nova" style="margin-left: 100px; font-size: 25px;">Habilitando espacios para <strong>ver lo que otros no ven.</strong></p>
            </div>
            <div class="col-md-4 d-flex align-items-center">
                <img loading="lazy" style="width: 70%; margin-left: 10px;" src="assets/imagenes/soluciones/MANOLENTE-8.png" alt="Manolente" class="rounded-full object-cover"/>
            </div>
        </div>

        <!-- Tercera fila -->
        <div class="row" data-aos="fade-left" data-aos-offset="200" data-aos-duration="2000" style="margin-top: -60px;">
            <div class="col-md-4 d-flex align-items-center">
                <img style="width: 70%; margin-right: 10px;" src="assets/imagenes/soluciones/CIRCULO%20ASTRONAUTA-8.png" alt="Astronauta" class="w-70 h-auto rounded-full object-cover"/>
            </div>
            <div class="col-md-8 d-flex align-items-center">
                <p class="text-left text-arial-nova" style="margin-left: -100px; font-size: 25px;">Transitando lo <strong>inexplorado.</strong></p>
            </div>
        </div> 

        <!-- Cuarta fila -->
        <div class="row" data-aos="fade-right" data-aos-offset="200" data-aos-duration="2000" style="margin-top: -70px;">
            <div class="col-md-8 d-flex align-items-center">
                <p class="text-left text-arial-nova" style="margin-left: 350px; font-size: 25px;">Transformando <strong>mindsets.</strong></p>
            </div>
            <div class="col-md-4 d-flex align-items-center">
                <img style="width: 70%; margin-left: 10px;" src="assets/imagenes/soluciones/CIRCULO%20MANO%20Y%20CEREBRO-8.png" alt="Manocerebro" class="rounded-full object-cover"/>
            </div>
        </div>

    </div>
</div>


<!-- Fondo de fondoedificio y texto -->
    <div class="fondoedificio" style="background: url(../../../assets/imagenes/soluciones/Fondo_menu2.png); background-repeat: no-repeat; background-size: cover; width: 100%; height: 1250px; margin-top: 0px; position: relative;">
        <!-- Contenido actual -->
        <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
            <div class="detras" style="position: absolute; height: 1%; width: 61%; left: 265px; margin-top: -55%; background-color: #4DB2B0;"></div>
            <p style="z-index: 2; position: absolute; font-size: 48px; color: white; font-family: 'Century Gothic', sans-serif; font-weight: bold; line-height: 1; margin-top: -750px; margin-left: 20px;">
                <strong>CO-CREAMOS DE LA MANO CON</strong><br>
            </p>
        </div>
        
        <!-- Menus -->
        <div class="container">
            <div class="row details-container">
                <div class="col-md-6" style="margin-top: -80%;">
                    <details>
                        <summary><strong>Grandes y medianas <br>empresas </strong></summary> 
                        <div class="content">
                            <p><b>Transformamos </b><br> Visiones.</p>
                            <p><b>Consolidamos el hoy </b><br> Para sostener y crear bases sólidas.</p>
                            <p><b>Creamos futuro </b><br> Nuevas posturas.<br> Nuevos caminos. </p>
                        </div>
                    </details>
                </div>
    
                <div class="col-md-6" style="margin-top: -80%;">
                    <details>
                        <summary>Pequeñas empresas y emprendimientos</summary>
                        <div class="content">
                            <p><b>Acompañamos</b><br> Al emprendedor a entender la esencia de su proyecto y su alineación personal con él.</p>
                            <p><b>Detonamos</b><br> Nuevas decisiones dentro del emprendimiento existente, realizando exploraciones y reflexiones para optimizar sus resultados.</p>
                            <p><b>Expandimos</b><br> El impacto de un empresario u organización consolidados dentro de la sociedad y su mercado, o nuevos mercados a explorar.</p>
                        </div>
                    </details>
                </div>
            </div>
        </div>
    
        <!-- SVG como fondo -->
        <div style="background: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 1440 320%22%3E%3Cpath fill=%22%23F9F9F9%22 fill-opacity=%221%22 d=%22M0,32L48,42.7C96,53,192,75,288,74.7C384,75,480,53,576,42.7C672,32,768,32,864,42.7C960,53,1056,75,1152,96C1248,117,1344,139,1392,149.3L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z%22/%3E%3C/svg%3E') no-repeat center center / cover; height: 300px; position: absolute; bottom: 0; width: 100%;">
            <!-- Contenido dentro del div -->
            <button [routerLink]="['/nosotros']" style="position: absolute; top: 
60%; left: 50%; transform: translate(-50%, -50%); width: 200px; height: 60px; font-size: 20px; background: #DE1A4D; border: none; border-radius: 50px; color: #ffffff; outline: none; cursor: pointer; transition: all 0.4s;">Volver</button>
        </div>
    </div>   

</div>