<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    @font-face {
    font-family: 'Arial Nova';
    src: url('path/to/arial-nova.woff2') format('woff2'),
        url('path/to/arial-nova.woff') format('woff');
    }
    body {
        font-family: 'Arial Nova', Arial, sans-serif;
    }
    .footer_header {
        background-color: black;
        color: white;
        font-family: 'Arial Nova', Arial, sans-serif;
    }
    .icono-red-social {
        width: 40px;
        height: 40px;
        margin-left: 20px;
        cursor: pointer;
    }
    .texto-superpuesto {
        margin-bottom: 160px;
    }
    .contact-info p, .modelos-soluciones p, .footer-final p {
        margin-bottom: 4px;
    }
    .footer-final p {
        color: gray;
        line-height: 1.2;
    }
    .font-bold {
        font-weight: bold;
    }
    .text-white {
        color: white;
    }
    .text-gray {
        color: gray;
    }
</style>

<!-- Inicio footer -->
<footer class="footer_header">
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row">
            <!-- Logo 1 -->
            <span id="ondaGris" style="position: absolute; margin-top: -110px; margin-left: -150px; width: 750px;"></span>
            <div class="col-md-6">
                <img src="assets/imagenes/encabezados/ikeCompensar.svg" class="texto-superpuesto logoSL" alt="Logo 11">
                <br>
                <div class="logosRedes" style="margin-top: 100px;">
                    <!-- Logos de redes sociales -->
                    <br><br>
                      <img *ngIf="link" src="assets/imagenes/iconos/link.svg" (mouseover)="cambiarL()" (click)="irALink()" class="icono-red-social" alt="Link Icon">
                      <img *ngIf="linkColor" src="assets/imagenes/iconos/linkColor.svg" (mouseout)="cambiarLBlanco()" (click)="irALink()" class="icono-red-social" alt="Link Icon Color">
                      <img *ngIf="whatsapp" src="assets/imagenes/iconos/whatsapp.svg" (mouseover)="cambiarW()" (click)="irAWhatsApp()" class="icono-red-social" alt="WhatsApp Icon">
                      <img *ngIf="whatsappColor" src="assets/imagenes/iconos/whatsappColor.svg" (mouseout)="cambiarWBlanco()" (click)="irAWhatsApp()" class="icono-red-social" alt="WhatsApp Icon Color">
                      <img *ngIf="email" src="assets/imagenes/iconos/email.svg" (mouseover)="cambiarE()" (click)="irAEmail()" class="icono-red-social" alt="Email Icon">
                      <img *ngIf="emailColor" src="assets/imagenes/iconos/emailColor.svg" (mouseout)="cambiarEBlanco()" (click)="irAEmail()" class="icono-red-social" alt="Email Icon Color">
                      <img *ngIf="facebook" src="assets/imagenes/iconos/facebook.svg" (mouseover)="cambiarF()" (click)="irAFacebook()" class="icono-red-social" alt="Facebook Icon">
                      <img *ngIf="facebookColor" src="assets/imagenes/iconos/facebookColor.svg" (mouseout)="cambiarFBlanco()" (click)="irAFacebook()" class="icono-red-social" alt="Facebook Icon Color">
                      <img *ngIf="instagram" src="assets/imagenes/iconos/instagram.svg" (mouseover)="cambiarI()" (click)="irAInstagram()" class="icono-red-social" alt="Instagram Icon">
                      <img *ngIf="instagramColor" src="assets/imagenes/iconos/instagramColor.svg" (mouseout)="cambiarIBlanco()" (click)="irAInstagram()" class="icono-red-social" alt="Instagram Icon Color">
                    <img src="assets/imagenes/LOGO%20ACEI.svg" alt="ACEI Logo" class="mb-4 logoACEI" style="width: 450px; margin-top: 40px; display: block;" />                  </div>
                    <div class="mt-0" style="color: gray; line-height: 1.2; font-family: 'Arial Nova', Arial, sans-serif;"> 
                        <p class="text-sm mb-1">2024 contacto@slig.co</p>
                        <p class="text-sm mb-1">Copyright — SL Consulting S.A.S.</p>
                        <p class="text-sm mb-0" style="margin-bottom: 20px;">Todos los derechos reservados.</p>
                        <br>
                    </div>
                    </div>

            <!-- Información de contacto -->
            <div class="col-md-3" style="color: white; font-family: 'Arial Nova', Arial, sans-serif;">
                <br>
                <p class="mb-2"><strong>Cra. 49b N° 104a - 75</strong><br />Barrio Pasadena - Bogotá, Colombia<br />Tel: 1 7388247<br />Cel: 318 335 1994</p>
                <p class="mb-4"></p> <!-- Espacio añadido -->
                <p class="mb-2"><strong>Calle 3 #57 - 31</strong><br />Cuarto legua - Cali, Colombia<br />Tel: 602 4 00 2128<br />Cel: 316 257 9292</p>
                <p class="mb-4"></p> <!-- Espacio añadido -->
                <p class="font-bold mb-2" style="font-size: 1.5em;">Contáctanos</p>
                <p class="mb-1" style="margin-bottom: 4px;"><a href="http://www.lapipolopina.com" target="_blank" style="color: white; text-decoration: none; font-family: 'Arial Nova', Arial, sans-serif;">www.lapipolopina.com</a></p>
                <p class="mb-1" style="margin-bottom: 4px;"><a href="mailto:contacto@lapipolopina.com" style="color: white; text-decoration: none; font-family: 'Arial Nova', Arial, sans-serif;">contacto@lapipolopina.com</a></p>
            </div>

            <!-- Modelos y soluciones -->
            <div class="col-md-3 finalFooter" style="color: white; padding: -5px; text-align: left; position: absolute; top: 0; right: 0; font-family: 'Arial Nova', Arial, sans-serif;">
                <br><p class="font-bold mb-2" style="font-size: 1.5em; margin-bottom: 5px;"><a [routerLink]="['/modelos']" style="color: white; text-decoration: none;">Modelos</a></p>
                <p class="mb-1" style="margin-bottom: 4px;"><a [routerLink]="['/#']" style="color: white; text-decoration: none;">Insights</a></p>
                <p class="mb-1" style="margin-bottom: 4px;"><a [routerLink]="['/#']" style="color: white; text-decoration: none;">Arquetipal</a></p>
                <p class="mb-4"></p> <!-- Espacio añadido -->
                <p class="font-bold mb-2" style="font-size: 1.5em; margin-bottom: 5px;"><a [routerLink]="['/soluciones']" style="color: white; text-decoration: none;">Soluciones</a></p>
                <p class="mb-1" style="margin-bottom: 4px;"><a [routerLink]="['/#']" style="color: white; text-decoration: none;">Discovery</a></p>
                <p class="mb-1" style="margin-bottom: 4px;"><a [routerLink]="['/#']" style="color: white; text-decoration: none;">Business Strategy</a></p>
                <p class="mb-1" style="margin-bottom: 4px;"><a [routerLink]="['/#']" style="color: white; text-decoration: none;">CulturaX</a></p>
                <p class="mb-4"></p> <!-- Espacio añadido -->
                <p class="font-bold mb-2" style="font-size: 1.5em; margin-bottom: 5px;"><a [routerLink]="['/blog']" style="color: white; text-decoration: none;">Blog</a></p>
            </div>
        </div>

        <!-- Footer final -->
        
    </div>
    <div class="col-md-1"></div>
</div>
</footer>
<!-- Fin footer -->
